<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I have What it Takes!</h2>
                <hr class="light">
                <p class="text-faded">Hello, my name is Dami and I am a driven and focused Front End Developer/ Designer who has some great skills and knowledge and a passion for technology. I have been involved continually in demonstrating my existing skills and ability to quickly adapt to challenges in learning new technologies. With key professional exposure in Front end development, Digital design, Motion Graphics, Web Development in augular js and ruby on rails I believe that I would enhance any forward thinking organisation.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Find me</a>
            </div>
        </div>
    </div>
</section>
