<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hello, I am a Front-End Developer and Designer</h1>
            <hr>
            <p>Having gain experience in the Design world, I have opened myself to Out-Of-The-Box creative thinking and I want to bring in my best skills in web development to any Forward thinking Tech Agency!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">See what I can Offer</a>
        </div>
    </div>
</header>
