<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Key Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Front-End Framworks</h3>
                    <p class="text-muted">I have up-to-date knowledge of Angular.JS, Firebase, etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ruby on Rails</h3>
                    <p class="text-muted">Ruby is fun to learn and I enjoy every bit of it. I also have a good understanding of Rails.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-html5 wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>HTML, CSS & Javascript</h3>
                    <p class="text-muted">Very comfortable with html, CSS and Javascript.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Design</h3>
                    <p class="text-muted">My experience working as a Motion Graphics Designer broaden my scope in thinking out of the box creatively.</p>
                </div>
            </div>
        </div>
    </div>
</section>
